#footer
  .legal > .padding,
  .sitemap > .padding
    padding-left: $spacing-unit
    padding-right: $spacing-unit

  .legal
    background-color: $color-text
    text-align: center
    position: relative

    font-size: $font-size*1.1
    font-weight: 300

    padding-bottom: $spacing-unit*.3
    padding-top: $spacing-unit*.2

    img
      max-width: 150px
      margin-top: -5.1rem

  .sitemap
    //background-color: $color-grey-light
    color: $color-grey-dark

.sitemap
  font-size: $font-size*.8
  padding-top: $spacing-unit*.5
  padding-bottom: $spacing-unit*.5

  li
    list-style: none

  a
    color: $color-grey

  .copyright
    color: #c1c0c0
