
//
// Arrangement of homepage blocks.
//
#index-callout
  background-color: $color-text
  z-index: 3

  p
    max-width: 35vw
    line-height: $text-line-height

#index-groups
  background-color: $color-grey-light
  z-index: 2

#index-signup
  background-color: $color-text
  z-index: 3

#index-signup-button
  background-color: $color-grey-light
  z-index: 2

#footer,
#footer > .legal
  z-index: 3

//
// Arrangement of contact page blocks.
//
#contact-people,
#contact-info

  background-color: $color-text
  z-index: 2

#contact-images,
#contact-maps
  z-index: 1
