
<div class="legal edge-top">
  <div class="padding">
    <img src="/assets/img/logo-square.png">
    <p>Stichting Scoutinggroep Petrus en Paulus</p>
  </div>
</div>

<div class="sitemap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-3">
        <li class="copyright">&copy; 1934 &dash; {{ 'now' | date: '%Y' }}</li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/visie">Over ons</a></li>

      </div>
      <div class="col-3">
        <li><a href="/privacy">Privacy Beleid</a></li>
        <li><a href="/algemene-voorwaarden">Algemene Voorwaarden</a></li>
        <li><a href="/privacy-website#gebruik-van-cookies">Cookies</a></li>
      </div>
      <div class="col-3">
        <li><a href="/aanmelden">Lid Aanmelden</a></li>
        <li><a href="/word-vrijwilliger">Word Vrijwilliger</a></li>
      </div>
      <div class="col-2">
        <li><a href="{{ site.social.facebook }}">Facebook</a></li>
        <li><a href="{{ site.social.linkedin }}">LinkedIn</a></li>
      </div>
    </div>
  </div>
</div>
