
        <title>{{ page.title }} - {{ site.title }}</title>
        <meta charset="utf-8">

        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

        <meta name="description" content="{{ page.description | default: site.description }}">
        <meta name="keywords" content="{{ site.keywords }}">
        <meta name="author" content="{{ site.owner }}">
        <meta name="designer" content="{{ site.author }}">

        <meta property="og:title" content="{{ site.title }} - {{ page.title }}">
        <meta property="og:image" content="/assets/img/social/background-boat.png">
        <meta property="og:url" content="{{ page.url }}">
        <meta property="og:description" content="{{ page.description | default: site.description }}">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="{{ page.url }}">
        <meta name="twitter:description" content="{{ page.description | default: site.description }}">
        <meta name="twitter:image" content="/assets/img/social/background-boat.png">

        <link rel="icon" href="/assets/img/favicon.png">

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/ionicons.min.css">
        <link rel="stylesheet" href="/assets/css/crackhouse.css">
        <link rel="stylesheet" href="/assets/css/main-v3.css?_={{ site.github.build_revision }}">
