{% assign c = page.category %}
{% assign g = page.group %}
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
          <div class="container-fluid">

            <div class="navbar-header">
              <div class="visible-xs">
                <ul class="navbar-mobile">
                  <li{% if c == "index" %} class="active"{% endif %}><a href="{{ site.domain }}/">Home</a></li>
                  <li class="speltak-open{% if c == 'group' %} active{% endif %}"><a href="#" class="btn-select-group">Groepen</a></li>
                  <li{% if c == "news" %} class="active"{% endif %}><a href="{{ site.domain }}/nieuws">Nieuws</a></li>
                  <li{% if c == "agenda" %} class="active"{% endif %}><a href="{{ site.domain }}/programma">Programma</a></li>
                  <li{% if c == "contact" %} class="active"{% endif %}><a href="{{ site.domain }}/contact">Contact</a></li>
                </ul>
              </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                <li{% if c == "index" %} class="active"{% endif %}><a href="{{ site.domain }}/">Home</a></li>
                <li class="dropdown{% if c == 'group' %} active{% endif %}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Groepen
                  </a>
                  <ul class="dropdown-menu">
                    <li>Kies een speltak</li>
                    <li{% if g == "welpen" %} class="active"{% endif %}><a href="{{ site.domain }}/groep/welpen">Welpen</a></li>
                    <li{% if g == "gidsen" %} class="active"{% endif %}><a href="{{ site.domain }}/groep/gidsen">Gidsen</a></li>
                    <li{% if g == "scouts" %} class="active"{% endif %}><a href="{{ site.domain }}/groep/scouts">Scouts</a></li>
                    <li{% if g == "stam" %} class="active"{% endif %}><a href="{{ site.domain }}/groep/stam">Stam</a></li>
                  </ul>
                </li>
                <li{% if c == "news" %} class="active"{% endif %}><a href="{{ site.domain }}/nieuws">Nieuws</a></li>
                <li{% if c == "agenda" %} class="active"{% endif %}><a href="{{ site.domain }}/programma">Programma</a></li>
                <li{% if c == "contact" %} class="active"{% endif %}><a href="{{ site.domain }}/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>


        <div class="speltak-mobile">
          <div class="speltak-close"><i class="ion-android-close"></i></div>
          <div class="speltak-text">Kies een speltak</div>
          <div class="row">
            <div class="col-xs-6 welpen{% if g == "welpen" %} active{% endif %}"><div class="bg"></div><a href="{{ site.domain }}/groep/welpen">Welpen</a></div>
            <div class="col-xs-6 gidsen{% if g == "gidsen" %} active{% endif %}"><div class="bg"></div><a href="{{ site.domain }}/groep/gidsen">Gidsen</a></div>
            <div class="col-xs-6 scouts{% if g == "scouts" %} active{% endif %}"><div class="bg"></div><a href="{{ site.domain }}/groep/scouts">Scouts</a></div>
            <div class="col-xs-6 stam{% if g == "stam" %} active{% endif %}"><div class="bg"></div><a href="{{ site.domain }}/groep/stam">Stam</a></div>
          </div>
        </div>
