/*! ======================================
              Website Scaling
                scale.scss
    ====================================== */

body,
html {
  font-size: $base-font-size;
  line-height: $base-line-height;

  font-family: $font-family;
  font-weight: 400;

  @media #{$mq-medium} {
    font-size: $base-font-size*1.2 !important;
    line-height: $base-line-height*1.2 !important;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.3 !important;
  }
}

/* Landing page. */
.header h1 {
  font-size: 3em;
  margin-top: 0;

  @media #{$mq-medium} {
    font-size: 3.5em;
  }

  @media #{$mq-large} {
    font-size: 4em;
  }
}

.header h1.title {
  @media #{$mq-large} {
    margin-left: 0 !important;
  }
}

.callout {

}

/* Navbar. */
nav {
  font-size: 1em;
  padding-top: .3em !important;
  padding-bottom: .3em !important;
}

.navbar-nav > li > a {
  padding-top: 1em;
  padding-bottom: 1em;
}

.dropdown-menu > li > a {
  font-size: 1.8em;
}

.dropdown-menu > li:first-of-type {
  font-size: 1em;
}

/* Group pages. */
.description > .text {
  font-size: 1em;
}

/* Contact page. */
.contact-mails {
  font-size: 1em;

  @media #{$mq-medium} {
    font-size: .6em;
  }

}
