/*! ======================================
              Website Scaling
                scale.scss
    ====================================== */

body,
html {
  font-size: $base-font-size;
  line-height: $base-line-height;

  font-family: $font-family;
  font-weight: 400;

  @media #{$mq-small} {
    font-size: $base-font-size*1.2 !important;
    line-height: $base-line-height*1.2 !important;
  }

  @media #{$mq-medium} {
    font-size: $base-font-size*1.2 !important;
    line-height: $base-line-height*1.2 !important;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.3 !important;
  }
}

/* Landing page. */
.header h1.title {
  margin-top: .3em;
}
.header h1 {
  font-size: 4.5em;


  img {
    height: .8em;
    width: auto;
    margin-top: .2em;
    margin-left: .5em;
  }

  @media #{$mq-small} {
    font-size: 4em;
    img {
      height: .8em;
    }
  }

  @media #{$mq-medium} {
    font-size: 3.5em;
    img {
      height: .8em;
    }
  }

  @media #{$mq-large} {
    font-size: 4em;
  }
}

.header h1.title {
  @media #{$mq-large} {
    margin-left: 0 !important;
  }
}

.callout {
  @media #{$mq-medium} {
    margin-bottom: 5em !important;
  }
}

/* Navbar. */
nav {
  font-size: 1em;
  padding-top: .3em !important;
  padding-bottom: .3em !important;
}

.navbar-nav > li > a {
  padding-top: 1em;
  padding-bottom: 1em;
}

.dropdown-menu > li > a {
  font-size: 1.8em;
}

.dropdown-menu > li:first-of-type {
  font-size: 1em;
}

/* Group pages. */
.description > .text {
  font-size: 1em;
}

/* Contact page. */
.contact-mails {
  font-size: 1em;
  @media #{$mq-medium} {
    font-size: .8em;
  }
}

.contact-maps > iframe {
  margin-bottom: -15px;
}

.notice {

  font-size: 1em;

  @media #{$mq-small} {
    font-size: .6em;
  }
}

/* Facebook button (news page & contact page) */
.btn-fb {
  font-size: 0.9rem;

  /* responsive displays */
  @media #{$mq-max-xsmall} {
    font-size: 1rem;
  }
  @media #{$mq-xsmall} {
    font-size: 1.3rem;
  }
  @media #{$mq-small} {
    font-size: 0.9rem;
  }
  @media #{$mq-large} {
    font-size: 1.3rem;
  }
}

/* Banner */
.banner {
  margin-top: 55px;

  @media #{$mq-small} {
    margin-top: 0;
    font-size: 0.9rem;
  }
  @media #{$mq-medium} {
    font-size: 1rem;
  }
}
