---
# Nog Nooit Meegemaakt Theme v3
---

$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
$font-size: 1.2rem
$font-size-header: 4rem

$spacing-unit: 4rem
$spacing-unit-sm: 1rem

$text-line-height: 1.76
$lead-line-height: 1.5

$color-grey: #828282
$color-grey-light: lighten($color-grey, 40%)
$color-grey-dark: darken($color-grey, 25%)

$color-text: #fff
$color-background: #333
$color-brand: #ff8b00
$color-brand-dark: #222
$color-brand-light: lighten($color-brand-dark, 90%)

@import "v3/theme.sass", "v3/navbar.sass"
