---
# Main SCSS file.
---
// Set charset.
@charset "utf-8";

// Set site style variables.
$font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
$font-size:   16px; // <-- remove
$small-font-size:  $font-size * 0.875; // <-- remove

$spacing-unit:     30px; // <-- ems
$spacing-unit-sm:  10px; // <-- ems

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$text-color:       #fff;
$background-color: #333;
$brand-color:      #ff8b00;
$brand-border:     6px; // <-- ems
$brand-dark:       #222;
$brand-light:      lighten($brand-dark, 90%);

// Scaling
$base-font-size: 1em;
$base-spacing: $base-font-size;

// Line heights.
$base-line-height: 1.5;
$header-line-height: 1.25;

// Breakpoints
$bp-xsmall: 32em; // 513px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xsmall: "(min-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Import fonts.
@import "https://fonts.googleapis.com/css?family=Open+Sans|Special+Elite|Raleway";

// Import files from sass directory.
@import "theme", "bootstrap-modifications", "scale";
