<!DOCTYPE html>
  {% include comment.html %}
  <html lang="nl">
    <head>
      {% include head.html %}
    </head>
    <body>
      <section id="background"></section>
      <section id="navbar">
        {% include navbar.html %}
      </section>
      <section id="content">
        <div class="header">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="description agenda">
          <div class="text">
            <div class="pull-right"><a id="print-button" class="btn btn-lg btn-orange" href="#">Download PDF</a></div>
            <div data-file="agenda/{{ page.group }}.md">
              {% capture filecontents %}{{ content }}{% endcapture %}
              {{ filecontents | markdownify }}
            </div>
          </div>
        </div>
      </section>
      {% include scripts.html %}
      <script src="{{ site.domain }}/assets/js/jspdf.min.js"></script>
      <script src="{{ site.domain }}/assets/js/jspdf.plugin.autotable.min.js"></script>
    </body>
  </html>
