<!DOCTYPE html>
  {% include comment.html %}
  <html lang="nl">
    <head>
      {% include head.html %}
    </head>
    <body>

      <section id="navbar">
        {% include navbar.html %}
      </section>

      <section id="header">
        {% include header.html %}
      </section>

      <section id="block agenda-info">
        <!--// TODO: Migrate agenda format to include some information
        in front matter. //-->
      </section>

      <section id="block agenda-content">

        {% capture filecontents %}{{ content }}{% endcapture %}
        {{ filecontents | markdownify }}

      </section>

      <section id="footer">
        {% include footer.html %}
      </section>

      {% include scripts.html %}

      <script src="{{ site.domain }}/assets/js/jspdf.min.js"></script>
      <script src="{{ site.domain }}/assets/js/jspdf.plugin.autotable.min.js"></script>

    </body>
  </html>
