<!DOCTYPE html>
  <!--//
    {{ site.title }} v{{ site.version }}
    {{ site.copyright }}
    By {{ site.author }}
    GitHub Pages Build {{ site.github.build_revision }}
  //-->
  <html lang="nl">
    <head>
      {% include head.html %}
    </head>
    <body>
      <!--//<section id="background"></section>//-->
      <section id="navbar">
        {% include navbar.html %}
      </section>
      <section id="content">
        {% if page.category != 'index' %}
        <div class="row header">
          <div class="col-sm-12">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
        {% endif %}
        {{ content }}
      </section>
      {% include scripts.html %}
    </body>
  </html>
