<!DOCTYPE html>
  {% include comment.html %}
  <html lang="nl">
    <head>
      {% include head.html %}
    </head>
    <body>

      <section id="navbar">
        {% include navbar.html %}
      </section>

      <section id="header">
        {% include header.html %}
      </section>

      <section id="group-info" class="block">

        {% assign file = "text/" | append: page.group | append: ".md" %}
        {% capture filecontents %}{% include {{file}} %}{% endcapture %}
        {{ filecontents | markdownify }}

      </section>

      <section id="group-media" class="block">
        <!--// TODO: Implement media solution. //-->
      </section>

      <section id="theme-signup" class="block">

        {% capture filecontents %}{% include text/group-signup.md %}{% endcapture %}
        {{ filecontents | markdownify }}

        {% include signup-lead.html %}

      </section>

      <section id="footer">
        {% include footer.html %}
      </section>

      {% include scripts.html %}

    </body>
  </html>
