<!DOCTYPE html>
  <!--//
    {{ site.title }} v{{ site.version }}
    {{ site.copyright }}
    By {{ site.author }}
    GitHub Pages Build {{ site.github.build_revision }}
  //-->
  <html lang="nl">
    <head>
      {% include head.html %}
    </head>
    <body>
      <section id="background"></section>
      <section id="content">
        {% if page.category != 'index' %}
        <div class="header">
          <div class="col-sm-12">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
        {% endif %}
        <div class="description">
          <div class="text col-sm-5 col-sm-offset-6" data-file="text/{{ page.group }}.md">
            {% assign file = "text/" | append: page.group | append: ".md" %}
            {% capture filecontents %}{% include {{file}} %}{% endcapture %}
            {{ filecontents | markdownify }}
          </div>
        </div>
      </section>
      <section id="navbar">
        {% include navbar.html %}
      </section>
      {% include scripts.html %}
    </body>
  </html>
