<div class="group-contact">
  <h2>Welpen</h2>
  <p>
    Bijeenkomst<br>
    Zaterdagmorgen van 10.30 tot 12.30
  </p>
  <p>
    Contactpersoon <a href="mailto:tom@nognooitmeegemaakt.nl">tom@nognooitmeegemaakt.nl</a>
  </p>
</div>
<div class="group-contact">
  <h2>Gidsen</h2>
  <p>
    Bijeenkomst<br>
    Zaterdagmiddag van 14.30 tot 17.30
  </p>
  <p>
    Contactpersoon <a href="mailto:levi@nognooitmeegemaakt.nl">levi@nognooitmeegemaakt.nl</a>
  </p>
</div>
<div class="group-contact">
  <h2>Scouts</h2>
  <p>
    Bijeenkomst<br>
    Zaterdagmiddag van 14.30 tot 17.30<br>
    Dinsdagavond van 19.30 tot 21.00
  </p>
  <p>
    Contactpersoon <a href="mailto:guidon@nognooitmeegemaakt.nl">guidon@nognooitmeegemaakt.nl</a>
  </p>
</div>
<div class="group-contact">
  <h2>Stam</h2>
  <p>
    Bijeenkomst<br>
    Vrijdagavond van 20.00 tot 23.00
  </p>
  <p>
    Contactpersoon <a href="mailto:syquin@nognooitmeegemaakt.nl">syquin@nognooitmeegemaakt.nl</a>
  </p>
</div>
